html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
body{
    padding: 40px;
}
body header{
    height: 40px;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}
ul{
    margin-block-start: 0;
    line-height: 1;
    display: flex;
    align-items: flex-start;
}
h1{
    margin-block-start: 0;
    line-height: 1;
    flex-grow: 1;
}
li{
    display: inline-block;
    padding: 0 12px;
    margin-top: 0
}
a{
    text-decoration: none;
    color: rgb(0, 153, 0);
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
    font-weight: 400;
}
p{
    margin-top: 12px;
    
}