body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238,238,238);
    display: grid;
    grid-template-areas: 'masonry-head' 'masonry-content' 'flex-content';
    justify-items: center;
    gap: 20px;
}
body>h2{
    grid-area: masonry-head;
    justify-self: left;
    margin: 24px 18vw;
}
.masonry{
    height: 2200px;
    max-width: 64vw;
    grid-area: masonry-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    gap: 20px;
}

.masonry .card{
    display: inline-block;
    justify-self: start;
    align-self: start;
    padding: 10px;
}
.flex{
    grid-area: flex-content;
    width: 64vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}
.flex h2{
    flex-basis: 100%;
    margin-bottom: 24px;
}
.card{
    background-color: rgb(255,255,255);
    width: 20vw;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    overflow: hidden;
}
.masonry .card{
    display: inline-block;
}
.flex .card{
    display: flex;
    flex-direction: column;
}
.card section{
    border-bottom: 1px solid black;
}
.flex .card section{
    flex-grow: 1;
}
.card section h3, p{
    margin: 10%;
    font-weight: 400;
}
.card footer p{
    margin: 10%;
}
.card img{
    width: 100%;
    object-fit: cover;
}