{% extends 'base.html' %}
{% block content %}
        <!-- Add Fruit Form -->
        <section id="create">
            <div class="form" method="POST" action="{% url 'create fruit' %}">
                <h2>Add Fruit</h2>
                <form class="create-form" method="POST" action="{% url 'create fruit' %}">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit">Add Fruit</button>
                </form>
            </div>
        </section>
{% endblock %}