{% extends 'base.html' %}
{% block content %}

<!-- Dashboard Page -->
<h2>Fruits</h2>

{% if fruits %}
<section id="dashboard">
    {% for fruit in fruits %}
    <div class="fruit">
        <!-- fruit image -->
        <img src="{{fruit.image_url}}" alt="example1" />
        <!-- fruit name -->
        <h3 class="title">{{fruit.name}}</h3>
        <!-- fruit description -->
        <p class="description">{{fruit.description}}</p>
        <!-- fruit details button -->
        <a class="details-btn" href="{% url 'fruit details' fruit.id %}">More Info</a>
    </div>
    {% endfor %}
</section>

{% else %}
<h2>No fruit info yet.</h2>

{% endif %}

{% endblock %}
