{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="col-9">

        <div class="card">
            <div class="top">

                <!-- Start User Details and Image Location Section -->
                <div class="userDetails">

                    <!-- Link to User Profile Details Page-->
                    <!-- TODO: hardcode -->
                    <a href="{% url 'profile details' 1 %}">
                        <div class="profilepic">
                            <div class="profile_img">
                                <div class="image">
                                    <img src="{% static 'images/person.png' %}" alt="img8">
                                </div>
                            </div>
                        </div>
                    </a>
                    <h3>

                        <!-- Link to User Profile Details Page -->
                        <a href="{% url 'profile details' 1 %}">
                            <!-- IF user has first name and last name -->
                            Diyan Kalaydzhiev
                            <!-- else -->
                            <!-- show user username -->
                        </a>
                        <br>

                        <!-- IF the photo has location -->
                        <span>Bansko, Bulgaria</span>

                        <!-- IF the viewer is the creator of the photo -->
                        <div class="edit-delete-btns">

                            <!-- Link to Edit Pet Photo Page -->
                            <a href="{% url 'photo edit' photo.id %}">
                                <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                            </a>

                            <!-- TODO: Link to Delete Pet Photo Page -->
                            <a href="#">
                                <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                            </a>
                        </div>
                        <!-- End IF the viewer is the creator of the photo -->

                    </h3>
                </div>
                <!-- End User Details and Image Location Section -->

            </div>

            <div class="imgBx" id="photo-{{photo.id}}">
                <img src="{% static 'images/axolotl.jpeg' %}" alt="post" class="cover">
            </div>

            <div class="bottom">

                {% include 'partial/like-share-section.html' %}

                {% for pet in tagged_pets %}
                <a href="{% url 'pet details' username='sasho' pet_slug=pet.slug %}">
                    <p class="message">
                        <b>{{pet.name}}</b>
                    </p>
                </a>
                {% endfor %}

                <!-- Photo description -->
                <p class="pet-details">{{photo.description}}</p>

                <!-- Date of Publication or edit of the Photo -->
                <h5 class="postTime">{{photo.date_of_publication}}</h5>

                <!-- Start Comments Section -->
                <div class="comments">
                    <div class="top">
                        <div class="userDetails">
                            <div class="comment-data">
                                <div class="profilepic">
                                    <div class="profile_img">
                                        <div class="image">
                                            <!-- User Profile Image -->
                                            <img src="{% static 'images/person.png' %}" alt="img8">
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <!-- Link to User Profile Details Page-->
                                    <!-- User First and/or Last Name or username-->
                                    <a href="">Steven Ivanov</a>
                                    <!-- User Comment -->
                                    - OMG where can i get one
                                </p>
                            </div>
                            <span>Sept. 20, 2022, 5:02 p.m.</span>
                        </div>
                    </div>
                </div>
                <!-- End Comments Section -->
            </div>

            <!-- Start Add Comments Section -->
            <div class="addComments">
                <div class="reaction">
                    <h3>
                        <i class="far fa-smile"></i>
                    </h3>
                </div>

                <!-- Start Add Comments Form -->
                <form method="post" action="#">
                    <label for="id_body">Body:</label>
                    <textarea name="body" cols="40" rows="10" placeholder="Add comment..." maxlength="300" required=""
                        id="id_body"></textarea>
                    <!-- Post Comments Button -->
                    <button type="submit">Post</button>
                </form>
                <!-- End Add Comments Form -->

            </div>
            <!-- End Add Comments Section -->

        </div>

    </div>
</div>
{% endblock %}