body{
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 100px auto;
    grid-template-rows: 100px auto 40px;
    gap: 10px;
    padding: 5px 10px;
}
.header{
    grid-area: header;
    position: relative;
}
.header h1{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) ;
}
.content{
    grid-area: main;
}
.menu_bar{
    grid-area: aside;
}
.menu_bar .menu{
    list-style: none;
    margin: 0;
    padding: 5px;
}
a{
    text-decoration: none;
    display: block;
    padding: 5px 0px;
    color: black;
}
.menu a{
    color: rgb(86, 40, 129)
}
.foot{
    grid-area: footer;
    display: inline-block;
    vertical-align: middle;
}
.container{
    background-color: rgb(181, 216, 255);
    border-radius: 3px;
    padding: 10px;
}

